# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysqld]
user                           = mysql
pid-file                       = /var/run/mysqld/mysqld.pid
socket                         = /var/run/mysqld/mysqld.sock
port                           = 3306
bind-address                   = 127.0.0.1
mysqlx                         = 0
explicit_defaults_for_timestamp
secure-file-priv               = ""
skip-log-bin
sql_mode                       = NO_ENGINE_SUBSTITUTION
skip-name-resolve              = 0

# LOGGING #
log-error                      = /var/log/mysql/mysql-error.log
log-queries-not-using-indexes  = 0
slow-query-log                 = 0
long_query_time                = 5
slow-query-log-file            = /var/log/mysql/mysql-slow.log

# SAFETY #
max-allowed-packet             = 1G
sysdate-is-now                 = 1
max-connect-errors             = 1000000
max_execution_time             = 600000 # in ms
max_connections                = 1000

# OTHER #
max_heap_table_size            = 256M
tmp_table_size                 = 256M
join_buffer_size               = 256M
sort_buffer_size               = 256M

# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-flush-log-at-trx-commit = 2
innodb-file-per-table          = 1
innodb_buffer_pool_instances   = 1
innodb_buffer_pool_size        = 1G
innodb_log_file_size           = 256M
innodb_io_capacity             = 500
innodb_io_capacity_max         = 2500
